@page
@model SchoolSystem.Pages.Admin.AddClassSubjectModel
@{
}



<p>Add new subject - @Model.StudentClass.ClassName</p>

<div asp-validation-summary="All" class="text-danger"></div>
<form method="post">
    <input type="hidden" name="studentClassId" value="@Model.StudentClass.StudentClassId" />

    <select name="SelectedSubjectId" id="subject-selector" class="form-select">
		<option>Select Subject</option>
		@foreach (var subject in Model.Subjects)
		{
			<option value="@subject.SubjectId">@subject.SubjectName</option>
		}
		
	</select>
    <select name="SelectedTeacherId" id="teacher-selector" class="form-select">
        <option selected>Select Teacher</option>
	</select><br />

    <button type="submit" formaction="@Url.Page("AddClassSubject", "AssignSubject")" class="btn btn-primary">Assign Subject</button>
</form>




@section Scripts {
    <script>
        document.getElementById('subject-selector').addEventListener('change', function () {
            var subjectId = this.value;

            var teacherSelect = document.getElementById('teacher-selector');
            teacherSelect.innerHTML = "<option>Select Teacher</option>"

            if (subjectId && subjectId !== "Select Subject") {
                fetch('/Admin/AddClassSubject?handler=TeachersFromSubjectId&subjectId=' + subjectId)
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                        var teacherSelector = document.getElementById('teacher-selector');

                        data.forEach(function (subjectTeacher) {
                            var option = document.createElement('option');
                            option.value = subjectTeacher.teacher.teacherId; // Ensure teacherId exists
                            option.text = subjectTeacher.teacher.firstName + ' ' + subjectTeacher.teacher.lastName; // Ensure firstName exists
                            teacherSelector.add(option);
                        })
                    })
                    .catch(error => console.error('Error fetching data:', error));
            }
        });
    </script>
}