@page
@model SchoolSystem.Pages.Admin.ManageTeachersModel
@Html.AntiForgeryToken()
@{
}


@if (Model.TeacherId != null)
{

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">StudentClass Id</th>
                <th scope="col">Class Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var studentClass in Model.TeacherDetails.StudentClassSubjectsDto)
            {
                <tr>
                    <td>@studentClass.StudentClassDto.StudentClassId</td>
                    <td>@studentClass.StudentClassDto.ClassName</td>
                </tr>
            }
        </tbody>
    </table>
} 
else
{

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Teacher id</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Subjects</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Teacher in Model.SubjectTeachersDtos)
            {
                <tr>
                    <th scope="row">@Teacher.TeacherId</th>
                    <td>@Teacher.FirstName</td>
                    <td>@Teacher.LastName</td>
                    <td>
                        @foreach (var Subject in Teacher.Subjects)
                        {
                            @Subject.Subject.SubjectName <br />
                        }
                    </td>
                    <td><a href="#">View</a></td>
                </tr>
            }
        </tbody>
    </table>

}