@page
@model SchoolSystem.Pages.Events.IndexModel
@{
}


<div class="card agenda-card shadow-sm">
    <div class="card-header text-center bg-primary text-white">
        <h2 class="mb-0">@Model.AgendaDetails.StudentClassDto.ClassName - @Model.AgendaDetails.SubjectDto.SubjectName</h2>
    </div>
    <div class="card-body p-4">

        @if (Model.EditMode)
        {
            <!-- Edit Mode: Render form for editing the agenda -->
            <form method="post" asp-page-handler="UpdateAgenda">
                <input type="hidden" name="AgendaUpdate.AgendaId" value="@Model.AgendaDetails.AgendaId" />

                <div class="form-group">
                    <label for="Note">Note</label>
                    <textarea id="Note" name="AgendaUpdate.Note" class="form-control">@Model.AgendaDetails.Note</textarea>
                </div>

                <div class="form-group">
                    <label for="Homework">Homework</label>
                    <textarea id="Homework" name="AgendaUpdate.HomeWork" class="form-control">@Model.AgendaDetails.HomeWork</textarea>
                </div>

                <button type="submit" class="btn btn-success">Save Changes</button>
                <a href="@Url.Page("index", new { agendaid = Model.AgendaDetails.AgendaId })" class="btn btn-secondary">Cancel</a>
            </form>
        }
        else
        {
            <a asp-page="/Subnavs/StudentClassList" asp-route-studentClassId="@Model.AgendaDetails.StudentClassId">Student List</a>

            <!-- View Mode: Display the agenda details -->
            <div id="AgendaInfo" class="p-3">
                <div class="mb-4">
                    <h6 class="font-weight-bold"><i class="fas fa-info-circle"></i> Note</h6>
                    <p class="pl-3">@Html.Raw(Model.AgendaDetails.Note)</p>
                </div>

                <div class="mb-4">
                    <h4 class="font-weight-bold text-danger"><i class="fas fa-book"></i> Homework</h4>
                    <p class="pl-3">@Html.Raw(Model.AgendaDetails.HomeWork)</p>
                </div>
            </div>

            @if (Model.UserRole == "Teacher" && Model.IsAgendaTeacher == true)
            {
                <div class="text-right">
                    <!-- Discreet Edit Icon -->
                    <a href="@Url.Page("index", new { agendaid = Model.AgendaDetails.AgendaId, editmode = true })" title="Edit Agenda">
                        <i class="fa-solid fa-pen-to-square fa-lg"></i>
                    </a>
                </div>
            }
        }
    </div>
</div>


@section Scripts {
    <script src="https://cdn.tiny.cloud/1/@Model.TinyMceApiKey/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>

    <script>
        tinymce.init({
            selector: 'textarea',
            menubar: false,  // Hide the menubar if not needed
            plugins: 'link image code',
            toolbar: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | link',
            content_css: '//www.tiny.cloud/css/codepen.min.css',
            height: 300
        });
    </script>
}